<!DOCTYPE html>
<html class="no-js">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style> <meta charset="utf-8"> 
<title>Demo buscador - Biblioteca Virtual Miguel de Cervantes</title> 
<meta name="description"> 
<meta name="viewport" content="width=device-width">  
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="includes/main.css">

</head> 
<body ng-app="demoApp" ng-init="getObra()" class="ng-scope" ng-controller="obraController"> <!--[if lt IE 7]>
   <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->  
<div> 
    <!-- uiView:  -->
    <div ui-view="" class="ng-scope" >
        <div class="ui-base ng-scope"> 
            <!-- uiView:  -->
            <div ui-view="" class="ng-scope" style="">
                <div class="dashboard-page ng-scope"> 
                    <div class="container-fluid"> 
                    <div class="row"> 
                        <div class="col-sm-3 col-md-2 sidebar"> 
                            <div class="text-center"> 
                                <h2 class="brand">BVMC <small>Demo</small></h2> 
                                <img src="includes/flat-avatar.png" class="user-avatar"><br> 
                                <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm" href="#">Salir</a> 
                            </div> 
                            <ul class="nav nav-sidebar"> 
                            <li><a href="demo.html">Buscador de metadatos</a></li>
                            <li><a href="contenido.html">Buscador de contenido</a></li>
                            <li><a href="http://data.cervantesvirtual.com/about">Documentación</a></li> 
                            <li><a href="http://galatea.cervantesvirtual.com">Únete a Galatea</a></li> 
                            <li><a href="http://data.cervantesvirtual.com/blog">Novedades</a></li> 
                            </ul> 
                        </div> 
                        <!-- uiView:  -->
                        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope" ui-view="">
                        <div class="ng-scope"> 
                            <a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded" href="http://www.cervantesvirtual.com/bibliotecario/">El Bibliotecario</a> 
                            <h2>Obra <small>información</small></h2> 
                            <div class="jumbotron"> 
                                <div class="container" ng-show="obra!=''"> 
                                    <h1>{{obra.titulo}}</h1>
                                    
                                    <dl class="dl-horizontal">
                                      <dt ng-if="obra.reproduccion">Reproducción:</dt><dd ng-bind-html="obra.reproduccion | trust"></dd>
                                      <dt ng-if="obra.director">Director:</dt><dd>{{obra.director}}</dd>
                                      <div ng-if="obra.autores" ng-repeat="autor in obra.autores track by autor.id"><dt>Autor:</dt><dd><a ng-href="http://www.cervantesvirtual.com/autor/{{autor.slug}}">{{autor.nombre}}</a></dd></div>
                                      <div ng-if="obra.portales" ng-repeat="portal in obra.portales track by portal.idEntidadDocumental">
                                          <dt>Portal:</dt>
                                          <dd ng-if="portal.url.indexOf('http') == 0"><a ng-href="{{portal.url}}">{{portal.titulo}}</a></dd>
                                          <dd ng-if="portal.url.indexOf('http') != 0"><a ng-href="http://www.cervantesvirtual.com{{portal.url}}">{{portal.titulo}}</a></dd>
                                      </div>
                                      <div ng-if="obra.materias" ng-repeat="m in obra.materias track by m.id"><dt>Materia:</dt><dd><a ng-href="http://www.cervantesvirtual.com/obras/materia/{{m.slug}}">{{m.nombre}}</a></dd></div>                                      
                                      <dt ng-if="obra.tituloUniforme">Título uniforme:</dt><dd>{{obra.tituloUniforme}}</dd>
                                      <dt ng-if="obra.formaObra">Forma obra:</dt><dd>{{obra.formaObra}}</dd>
                                      <div ng-if="obra.formaSoporte" ng-repeat="s in obra.formaSoporte track by s.idFormaSoporte"><dt>Forma soporte:</dt><dd>{{s.nombre}}: {{s.descripcion}}</dd></div>
                                      <dt ng-if="obra.lugarPublicacion">Lugar publicación:</dt><dd>{{obra.lugarPublicacion}}</dd>
                                      <dt ng-if="obra.lugarPublicacionOriginal">Lugar publicación original:</dt><dd>{{obra.lugarPublicacionOriginal}}</dd>
                                      <dt ng-if="obra.fechaPublicacion">Fecha publicación:</dt><dd>{{obra.fechaPublicacion}}</dd>
                                      <dt ng-if="obra.fechaPublicacionOriginal">Fecha publicación original:</dt><dd>{{obra.fechaPublicacionOriginal}}</dd>
                                      <div ng-if="obra.cdus" ng-repeat="c in obra.cdus track by c.idCdu"><dt>Cdu:</dt><dd>{{c.nombre}}</dd></div>
                                      <div ng-if="obra.notas" ng-repeat="n in obra.notas track by n.idNota"><dt>Nota:</dt><dd>{{n.nota}}</dd></div>
                                     </dl>
                                     
                                     <div>
                                     <ul class="list-inline" ng-if="obra.formatos" >
                                     <li ng-repeat="f in obra.formatos track by f.codigo">
                                         <span class="glyphicon glyphicon-file" aria-hidden="true" ng-if="f.codigo != 'portada'"></span> 
                                         <span class="glyphicon-class" ng-switch on="f.codigo">
                                             <a ng-switch-when="xml" ng-href="http://www.cervantesvirtual.com/concordancias/{{obra.slug}}">Concordancias</a>
                                             <a ng-switch-when="html" ng-href="http://www.cervantesvirtual.com/obra-visor/{{obra.slug}}/html/">Html</a>
                                             <a ng-switch-when="pdf" ng-href="http://www.cervantesvirtual.com/descargaPdf/{{obra.slug}}/">Pdf</a>
                                             <a ng-switch-when="video" ng-href="http://www.cervantesvirtual.com/obra-visor/{{obra.slug}}/video/">Vídeo</a>
                                             <a ng-switch-when="audio" ng-href="http://www.cervantesvirtual.com/obra-visor/{{obra.slug}}/audio/">Audio</a>
                                             <a ng-switch-default ng-if="obra.RDFview" ng-href="http://data.cervantesvirtual.com/manifestation/{{obra.idEntidadDocumental}}">RDF</a>
                                         </span>
                                     </li>
                                     </ul>
                                     </div>
                                     
                                </div> 
                            </div> 

                        </div>
                        </div> 

                    </div>
               </div>
           </div>
        </div>
    </div>
</div>
</div>





    <script src="includes/vendor.js"></script> <script src="includes/obra.js"></script>
    <!-- Latest compiled and minified CSS -->


<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>

</body>
</html>
